<!DOCTYPE html>
<html lang="en">
<head>
  <title>myKaarma BitBattle 2018 Sample</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="icon" href="https://app.mykaarma.com/images/favicon.ico">
  <link rel="stylesheet" href="styles/bitbattle-2018.css"/>
</head>
<body>

<div ng-app="bitBattleApp" class="container" ng-controller="bitBattleCtrl" ng-init="searchResults=[]" >
 
 <h1>myKaarma BitBatte Sample</h1>
 <hr/>
 <p> Please select any one of the following</p>
 <form>
 <div class="radio-inline">
  <label><input type="radio" name="optradio" ng-model="make" value="Honda" checked>Honda</label>
 </div>
 <div class="radio-inline">
  <label><input type="radio" name="optradio"  ng-model="make" value="Toyota">Toyota</label>
 </div>
 <div class="radio-inline">
  <label><input type="radio" name="optradio"  ng-model="make" value="Hyundai">Hyundai</label>
 </div>&nbsp;&nbsp;&nbsp;
 <button ng-click="findResults()" class="btn btn-primary">Find</button>
 </form>
 <hr/>
 <div class="table-responsive">
 
 <table class="table table-hover">
    <thead>
      <tr>
        <th>Dealer Name</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="x in searchResults">
        <td>{{x}}</td>
      </tr>
    </tbody>    
 </table>
 <div class="{{lblStatusMsg}}" ng-model="lblStatusMsg"></div>
 </div>
</div>
<script src="js/bitbattle-2018.js"></script>
</body>

</html>
